
<br>
<br>
<div class="container">
    <h1>{{data.title}}</h1>
    <input type="text" (keyup)="onKeyup(titleInput.value)" [value]="data.title" name="" #titleInput>
</div>


<br>
<br>


<div class="container">
    <div class="course_wrapper">
        <app-course-card [course] ="ranjacket" (courseEmiter)="getCourse($event)"></app-course-card>
        <app-course-card [course] ="ranjacket2" (courseEmiter)="getCourse($event)"></app-course-card>
        <app-course-card [course] ="ranjacket3" (courseEmiter)="getCourse($event)"></app-course-card>
    </div>
</div>
<ul>

@for (item of mainCourse; track $index) {

    <li>{{item.title}}</li>
    <li>{{item.description}}</li>
}
</ul>